[submodule "src/N64/mupen64plus-core"]
	path = src/N64/mupen64plus-core
	url = https://github.com/thelostmods/mupen64plus-core
[submodule "src/N64/mupen64plus-audio-sdl"]
	path = src/N64/mupen64plus-audio-sdl
	url = https://github.com/mupen64plus/mupen64plus-audio-sdl
[submodule "src/N64/mupen64plus-input-sdl"]
	path = src/N64/mupen64plus-input-sdl
	url = https://github.com/mupen64plus/mupen64plus-input-sdl
[submodule "src/N64/mupen64plus-win32-deps"]
	path = src/N64/mupen64plus-win32-deps
	url = https://github.com/mupen64plus/mupen64plus-win32-deps
[submodule "src/N64/mupen64plus-rsp-cxd4-sse2"]
	path = src/N64/mupen64plus-rsp-cxd4-sse2
	url = https://github.com/mupen64plus/mupen64plus-rsp-cxd4
[submodule "src/N64/mupen64plus-rsp-hle"]
	path = src/N64/mupen64plus-rsp-hle
	url = https://github.com/mupen64plus/mupen64plus-rsp-hle
[submodule "src/N64/mupen64plus-rsp-z64"]
	path = src/N64/mupen64plus-rsp-z64
	url = https://github.com/mupen64plus/mupen64plus-rsp-z64
[submodule "src/N64/mupen64plus-video-arachnoid"]
	path = src/N64/mupen64plus-video-arachnoid
	url = https://github.com/mupen64plus/mupen64plus-video-arachnoid
[submodule "src/N64/mupen64plus-video-glide64mk2"]
	path = src/N64/mupen64plus-video-glide64mk2
	url = https://github.com/mupen64plus/mupen64plus-video-glide64mk2
[submodule "src/N64/mupen64plus-video-rice"]
	path = src/N64/mupen64plus-video-rice
	url = https://github.com/mupen64plus/mupen64plus-video-rice
[submodule "src/N64/mupen64plus-video-z64"]
	path = src/N64/mupen64plus-video-z64
	url = https://github.com/mupen64plus/mupen64plus-video-z64
[submodule "src/N64/mupen64plus-video-gliden64"]
	path = src/N64/mupen64plus-video-gliden64
	url = https://github.com/gonetz/GLideN64
[submodule "src/N64/mupen64plus-video-angrylion-plus"]
	path = src/N64/mupen64plus-video-angrylion-plus
	url = https://github.com/ata4/angrylion-rdp-plus
